﻿<div class=footer-type02>
    <div class=container>
        <div class=row>
            <a href="@Url.Action("Index", "Home")" class=footer-logo><img src=~/images/DESTINY.png alt=image></a>

            <div class=footer-container>
                <ul class=clearfix>
                    <li>
                        <a href=https://www.facebook.com/templatespoint.net class=bigsocial-link>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href=https://twitter.com/ class=bigsocial-link target=_blank>
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href=https://www.instagram.net/ class=bigsocial-link target=_blank>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>

                </ul>

                <p>
                    <span class=uppercaseheading>address:</span><span class=red></span> Uwani, Enugu State, Nigeria.
                </p>

                <p><span class=uppercaseheading>call:</span> <span class=red>+234 8034352735</span></p>

            </div>
        </div>
    </div>
</div>

