@{
    ViewBag.Title = "About";
}

<hr />

<div class="row">
    <div class="container-fluid">
        <div class="img-rounded" style="background-color: lightgrey; height: 600px; background-image: url(Image/img4.jpg); background-position: center; background-size: cover;"></div>
    </div>
</div>

<hr />

<div class="row">
    <div class="container-fluid">
        <div class="col-lg-6">
            <h1 class="text-center" style="font-size: 50px; margin-top: 100px"><b>Destiney Soccer </b><span>Academy</span></h1> <hr />

            <p class="lead">We, Destiney Soccer Academy, located in Enugu, Nigeria, Destiney Soccer Academy are one of the known football academy in the city. We provide special football courses for young toddlers. We have courses ranging from beginner to advanced level for all age groups. Football is a fascinating game of intelligence and strength. The training programmes in our academy are designed to teach students the tactics of football by making them practice really hard. Our skilled teachers make the whole learning thing a fun activity</p>
        </div>

        <div class="col-lg-5">
            <div class="img-rounded" style="background-color: lightgrey; height: 500px; background-image: url('~/Image/img6.jpg'); background-position: center; background-size: cover;"></div>
        </div>
    </div>
</div>
