@{
    ViewBag.Title = "About";
}

<div class=wrapper>

    <div class=innerbannerwrap>
        <div class=innerbanner>
            <h2 class=bannerHeadline>about <span>us</span></h2>
        </div>
    </div>
    <section class="matchSchedule countryclub">
        <div class=container>
            <div class=row>
                <h2 class="heading small">Our <span>Vision</span></h2>

                <p class=headParagraph>
                    The Academy’s vision is to provide a unique training program specifically developed for young people that brings together the key aspects of soccer into a complete system of technical, tactical, psychological and physical development
                    within an exciting and educational atmosphere. It is our goal to provide a level of individualisation that helps each player progress as a person and within the context of the team, continually challenging them through their development
                    to improve and learn each and every time.
                </p>
            </div>
        </div>
    </section>
    <section class=players>
        <div class=container>
            <div class=row>
                <h2 class=heading>board <span>members</span></h2>

                <p class=headParagraph>
                    It is the Academy’s board desire to develop intelligent, confident young people in a professional and exciting atmosphere, giving them the skills to rise to challenges and go on and seek greater aspirations in the lives with success.
                    So these are the board of directors
                </p>

                <div class="wrapplayer clearfix">
                    <!-- <a class="prv prev-player"></a>
                    <a class="nxt next-player"></a> -->
                    <ul class="boardmember clearfix">
                        <li class=clearfix>
                            <div>
                                <div>
                                    <div class=fig01>
                                        <div class=memberimg style="background:url(../../images/boardMember/boardMember01.jpg) no-repeat top center"></div>
                                    </div>
                                    <div class="bg-black01 fig02">
                                        <h6 class=paragraph02>Daniel Chijioke Felix.</h6>

                                        <p class="uppercaseheading red">ceo</p>

                                        <p>Daniel is the chief executive officer ofDestiny soccer Academy. He is passionate about helping people reach their career goal potential</p>
                                    </div>
                                    <div class="bg-black fig02">
                                        <p>
                                            Peter is a law graduate from the University of Westminster and worked as the Manager of the Business Centre at inlingua Cheltenham for seven and a half years from May 1999 until he left in November 2006. Peter
                                            has been in the English language teaching industry since 1991, starting his English teaching career in Verona, Italy.
                                        </p>
                                    </div>
                                    <div class="bg-redcolor fig02">
                                        <p>BORN 14 April 1975, England</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <div class=fig01>
                                        <div class=memberimg style="background:url(../../images/boardMember/boardMember02.jpg) no-repeat top center"></div>
                                    </div>
                                    <div class="bg-black01 fig02">
                                        <h6 class=paragraph02>Fabian Chinedu Okorie</h6>

                                        <p class="uppercaseheading red">director</p>

                                        <p>
                                            Michael Brennan (Mick) is one of the four directors. Mick is a UEFA “B’ licensed qualified soccer coach and has a degree in Sports Science & Management from the University of Central Lancashire, as well as
                                            many years experience managing youth sports coaching programs.
                                        </p>
                                    </div>
                                    <div class="bg-black fig02">
                                        <p>
                                            Mick then went on to become the Senior Community Development Officer at the club, managing an indoor soccer facility and a team of sports coaches. This makes him well placed to work with our soccer students
                                            and to pass on his experience..
                                        </p>
                                    </div>
                                    <div class="bg-redcolor fig02">
                                        <p>BORN 14 April 1985, Enugu State, Nigeria</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <div class=fig01>
                                        <div class=memberimg style="background:url(../../images/boardMember/boardMember03.jpg) no-repeat top center"></div>
                                    </div>
                                    <div class="bg-black01 fig02">
                                        <h6 class=paragraph02>Ebuka Chukwuemeka</h6>

                                        <p class="uppercaseheading red">coach</p>

                                        <p>Ebuka is a professional coach who has a 2nd degree in coaching from the university of leeds in soccering. </p>
                                    </div>
                                    <div class="bg-black fig02">
                                        <p>He has worked with top clubs in Africa and internationally. He is the current coach grooming the academy and few are in europe playing professionally</p>
                                    </div>
                                    <div class="bg-redcolor fig02">
                                        <p>BORN 14 April 1975, Lagos State, Nigeria</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class=club_history>
        <div class=container>
            <div class=row>
                <h2 class=heading>club <span>history</span></h2>

                <p class=headParagraph>
                    Destiny soccer Academy is an international soccer academy located in Enugu State, Nigeria with a fully integrated soccer program to help young Nigerians 12 to 25-year-old players reach their full potential to international standard.
                </p>

                <div class="nav clubHistory-wrap clearfix">
                    <ul class=historyMeter>
                        <!-- <li><a href=#><span>1987</span></a></li> -->
                        <!-- <li class=win><a href=#win01><span>1988</span></a></li> -->
                        <!-- <li><a href=#><span>1989</span></a></li> -->
                        <!-- <li><a href=#><span>1990</span></a></li> -->
                        <li class=win><a href=#win03><span>2020</span></a></li>
                        <li class="win active"><a href=#win02><span>2021</span></a></li>
                        <!-- <li><a href=#><span>1991</span></a></li> -->
                        <!-- <li><a href=#><span>1995</span></a></li> -->
                        <!-- <li><a href=#><span>1997</span></a></li> -->
                        <!-- <li><span>2005</span></li> -->
                        <!-- <li><span>2007</span></li> -->
                        <!-- <li><span>2009</span></li> -->
                        <!-- <li class=win><a href=#win04><span>2012</span></a></li> -->
                        <!-- <li><a href=#><span>2013</span></a></li> -->
                        <!-- <li><a href=#><span>2014</span></a></li> -->
                        <!-- <li class=win><a href=#win05><span>2015</span></a></li> -->
                    </ul>
                    <div class="tab-content historyVideoWrap clearfix">
                        <!-- <div role=tabpanel class="tab-pane clearfix" id=win01>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/rPEd-h8DdRI allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>fifa 1988,</span> uefa champions league</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum?</p>

                                <div class="blog-detailsfooter clubfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix">
                                        <p class=uppercaseheading>octomber 14 ,
                                            <span class=red>2015</span></p>
                                    </div>
                                    <div class=blog-detailsfooter02><a href=# class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=# class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=# class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div></div>
                                </div>
                            </div>
                        </div> -->
                        <div role=tabpanel class="tab-pane active clearfix" id=win02>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/rPEd-h8DdRI allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>The Methodology ,</span> A Pitch Training Session </h4>

                                <p>
                                    Our technical academy staff conducts intense trainings to develop soccer skills and prepare players for the highest level in games and tournaments against national and international teams. Individualized training
                                    sessions are used to develop technical skills and mobility, while the club training main objective is to develop team cohesiveness and tactics. Additional tools such as masterclasses, video analysis, and progress
                                    reports add to create a well create a well-rounded soccer program to complete elite development. Destiny soccer Academy are back on the pitch and it feels great. On Monday 29th March the nationwide restrictions
                                    on outdoor team sports was lifted and the players from the academy got the chance to meet again and train
                                </p>


                                <div class="blog-detailsfooter clubfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix">
                                        <p class=uppercaseheading>
                                            July 3,
                                            <span class=red>2021</span>
                                        </p>
                                    </div>
                                    <div class=blog-detailsfooter02>
                                        <a href=# class="social_link facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a> <a href=# class="social_link twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a> <a href=# class="social_link instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <!-- <div role=tabpanel class="tab-pane clearfix" id=win03>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/F6U5-B3NUKA allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>fifa 2000 ,</span> uefa champions league</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum?</p>

                                <div class="blog-detailsfooter clubfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix">
                                        <p class=uppercaseheading>octomber 14 ,
                                            <span class=red>2015</span></p>
                                    </div>
                                    <div class=blog-detailsfooter02><a href=# class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=# class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=# class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div></div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div role=tabpanel class="tab-pane clearfix" id=win04>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/rPEd-h8DdRI allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>fifa 2012,</span> uefa champions league</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum?</p>

                                <div class="blog-detailsfooter clubfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix">
                                        <p class=uppercaseheading>octomber 14 ,
                                            <span class=red>2015</span></p>
                                    </div>
                                    <div class=blog-detailsfooter02><a href=# class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=# class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=# class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div></div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div role=tabpanel class="tab-pane clearfix" id=win05>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/rPEd-h8DdRI allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>fifa 2015 ,</span> uefa champions league</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum?</p>

                                <div class="blog-detailsfooter clubfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix">
                                        <p class=uppercaseheading>octomber 14 ,
                                            <span class=red>2015</span></p>
                                    </div>
                                    <div class=blog-detailsfooter02><a href=# class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=# class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=# class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div></div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="club_history achivementwrapper bg-white">
        <div class=container>
            <div class=row>
                <h2 class=heading>our <span>trophy room</span></h2>

                <p class=headParagraph>Destiny soccer Academy are one of the most successful academy in world soccer academy in this eastern part of Nigeria, with a glittering history of success on the field..</p>

                <div class=wrap-achive>
                    <ul class=achievement>
                        <li class=clearfix>
                            <div class=fig>
                                <img src=~images/awards/awards01.png alt=image>

                                <div>WINNER 2020, League U21 Cup, Enugu</div>
                            </div>
                            <div class=figcontentachv>
                                <h5 class="headline01 red">
                                    WINNER 2020, League U21 Cup, Enugu
                                </h5>

                                <p>
                                    Destiny soccer Academy win the League U21 Cup, by defeating Uwani Forces Academy U21 Cup 6-5 on penalties. David O. David was the hero for the Blues in the shootout after denying Raul Albiol in sudden death. Destiny soccer win
                                    the competition for a second time after previously lifting the crown in 1998. A shootout was required after Gerard Moreno cancelled out Felix Chinedu first-half strike. Neither team found the net again during normal
                                    or extra-time. However, Ebuka Chukwuemeka men held their nerve when it mattered the most to secure the win
                                </p>

                                <div class="blog-detailsfooter achvfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix">
                                        <a href=https://www.facebook.com/templatespoint.net class="social_link facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a> <a href=https://twitter.com/ class="social_link twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a> <a href=https://www.instagram.net/ class="social_link instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class=blog-detailsfooter02>
                                        <p class=uppercaseheading>July 14 ,<span class=red>2020</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class=clearfix>
                            <div class=fig>
                                <img src=~images/awards/awards02.png alt=image>

                                <div>WINNER 2021, Governor's Cup, Enugu</div>
                            </div>
                            <div class=figcontentachv>
                                <h5 class="headline01 red">
                                    WINNER 2021, Governor's Cup, Enugu
                                </h5>

                                <p>
                                    Destiny soccer win the Governor's Cup, by defeating Uwani Forces Academy U21 Cup 6-5 on penalties. David O. David was the hero for the Blues in the shootout after denying Raul Albiol in sudden death. Destiny soccer win
                                    the competition for a second time after previously lifting the crown in 1998. A shootout was required after Gerard Moreno cancelled out Felix Chinedu first-half strike. Neither team found the net again during normal
                                    or extra-time. However, Ebuka Chukwuemeka men held their nerve when it mattered the most to secure the win
                                </p>

                                <div class="blog-detailsfooter achvfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix">
                                        <a href=https://www.facebook.com/templatespoint.net class="social_link facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a> <a href=https://twitter.com/ class="social_link twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a> <a href=https://www.instagram.net/ class="social_link instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class=blog-detailsfooter02>
                                        <p class=uppercaseheading>February 21,<span class=red>2021</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <ul class=achievement>
                        <li class=clearfix>
                            <div class=fig><img src=images/awards/awards03.png alt=image>

                                <div>WINNER 2007, UEFA Champions League</div>
                            </div>
                            <div class=figcontentachv>
                                <h5 class="headline01 red">winner 2007 , uefa champions league
                                </h5>

                                <p>The UEFA Champions League is a seasonal association soccer competition established in 1955.[1] The UEFA Champions League is open to the league champions of all UEFA (Union of European soccer Associations) member
                                    associations (except Liechtenstein, which has no league competition), as well as to the clubs finishing from second to fourth position in the strongest leagues.[2] Prior to the 1992–93 season, the tournament was
                                    named the European Cup.[1] Originally, only the champions of their respective national league and the defending champion of the competition were allowed to participate. However, this was changed in 1997 to allow
                                    the runners-up of the stronger leagues to compete as well.[3] The defending champion of the competition did not automatically qualify until the rules were changed in 2005 to allow title holders Liverpool to enter
                                    the competition.</p>

                                <div class="blog-detailsfooter achvfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix"><a href=https://www.facebook.com/templatespoint.net class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=https://twitter.com/ class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=https://www.instagram.net/ class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div class=blog-detailsfooter02>
                                        <p class=uppercaseheading>octomber 14 ,<span class=red>2015</span></p>
                                    </div>
                                </div>
                            </div>
                        </li> -->
                    <!-- <li class=clearfix>
                            <div class=fig><img src=images/awards/awards02.png alt=image>

                                <div>WINNER 2007, UEFA Champions League</div>
                            </div>
                            <div class=figcontentachv>
                                <h5 class="headline01 red">winner 2007 , uefa champions league
                                </h5>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?Lorem
                                    ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?Lorem
                                    ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?lorem.
                                </p>

                                <div class="blog-detailsfooter achvfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix"><a href=https://www.facebook.com/templatespoint.net class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=https://twitter.com/ class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=https://www.instagram.net/ class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div class=blog-detailsfooter02>
                                        <p class=uppercaseheading>octomber 14 ,<span class=red>2015</span></p>
                                    </div>
                                </div>
                            </div>
                        </li> -->
                    <!-- </ul> -->
                    <!-- <ul class=achievement>
                        <li class=clearfix>
                            <div class=fig><img src=images/awards/awards03.png alt=image>

                                <div>WINNER 2007, UEFA Champions League</div>
                            </div>
                            <div class=figcontentachv>
                                <h5 class="headline01 red">winner 2007 , uefa champions league
                                </h5>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?Lorem
                                    ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?Lorem
                                    ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?
                                </p>

                                <div class="blog-detailsfooter achvfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix"><a href=https://www.facebook.com/templatespoint.net class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=https://twitter.com/ class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=https://www.instagram.net/ class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div class=blog-detailsfooter02>
                                        <p class=uppercaseheading>octomber 14 ,<span class=red>2015</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class=clearfix>
                            <div class=fig><img src=images/awards/awards02.png alt=image>

                                <div>WINNER 2007, UEFA Champions League</div>
                            </div>
                            <div class=figcontentachv>
                                <h5 class="headline01 red">winner 2007 , uefa champions league
                                </h5>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?Lorem
                                    ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?Lorem
                                    ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse, tempore?lorem.
                                </p>

                                <div class="blog-detailsfooter achvfooter clearfix">
                                    <div class="blog-detailsfooter01 clearfix"><a href=https://www.facebook.com/templatespoint.net class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=https://twitter.com/ class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=https://www.instagram.net/ class="social_link instagram"><i
                                        class="fa fa-instagram"></i></a></div>
                                    <div class=blog-detailsfooter02>
                                        <p class=uppercaseheading>octomber 14 ,<span class=red>2015</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </section>
    <section class=playerDetails02>
        <div class=container>
            <div class=row>
                <h2 class=heading>our <span>Squad</span></h2>

                <p class=headParagraph>Meet the enetire squad at Destiny soccer Academy.</p>
            </div>
            <div class="wrapper-container clearfix">
                <a class="prv prev"></a>
                <a class="nxt next"></a>
                <ul class=player02>
                    <li>
                        <div class=player02fig>
                            <div style=background:url(../../images/player/player05.jpg) class="imgplayer bgimg"></div>
                            <div class="playersocial bg-black clearfix">
                                <a href=# class=social_link>
                                    <i class="fa fa-facebook"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-linkedin"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-twitter"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class=player02info>
                            <div class=clearfix>
                                <div class=player02info01>
                                    <h6><span>name</span>David Oluwaseun</h6>
                                    <h6>
                                        <span>position</span>striker
                                    </h6>
                                    <h6><span>age</span> (born 22 april,2001)</h6>
                                </div>
                                <div class=player02info02><img src=~images/player/playerT_shirt01.png alt=image></div>
                            </div>
                            <h6 class=oswald16>imformation</h6>

                            <p>
                                Pure product of the Destiny soccer Academy, David Oluwaseun took his first steps in soccer with AS Éragny (Val-d’Oise) academy, before joining the academy from the capital in 2005, at just ten years old. Playing in each of
                                the age groups on his way up to the Reserves, ‘Presko’ started his professional career during Laurent Blanc’s time in charge. France discovered his joviality over the summer of 2018, during which he was crowned World
                                Champion with Didier Deschamps’ Les Bleus. With Destiny soccer Academy, he has made his name in the centre of the defence, with the club emblem bolted to his heart.
                            </p>

                            <p> With Paris Saint-Germain, he has made his name in the centre of the defence, with the club emblem bolted to his heart.</p>
                            <h6 class=oswald16>previous club</h6>
                            <ul class=clearfix>
                                <li>SC Ochendo Academy</li>
                                <li>FC Forces Academy, Anambra</li>
                            </ul>

                    </li>
                    <li>
                        <div class=player02fig>
                            <div style=background:url(../../images/player/player01.jpg) class="imgplayer bgimg"></div>
                            <div class="playersocial bg-black clearfix">
                                <a href=# class=social_link>
                                    <i class="fa fa-facebook"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-linkedin"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-twitter"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class=player02info>
                            <div class=clearfix>
                                <div class=player02info01>
                                    <h6><span>name</span>David Oluwaseun</h6>
                                    <h6>
                                        <span>position</span>striker
                                    </h6>
                                    <h6><span>age</span> (born 22 april,2001)</h6>
                                </div>
                                <div class=player02info02><img src=~images/player/playerT_shirt01.png alt=image></div>
                            </div>
                            <h6 class=oswald16>imformation</h6>

                            <p>
                                Pure product of the Destiny soccer Academy, David Oluwaseun took his first steps in soccer with AS Éragny (Val-d’Oise) academy, before joining the academy from the capital in 2005, at just ten years old. Playing in each of
                                the age groups on his way up to the Reserves, ‘Presko’ started his professional career during Laurent Blanc’s time in charge. France discovered his joviality over the summer of 2018, during which he was crowned World
                                Champion with Didier Deschamps’ Les Bleus. With Destiny soccer Academy, he has made his name in the centre of the defence, with the club emblem bolted to his heart.
                            </p>

                            <p> With Paris Saint-Germain, he has made his name in the centre of the defence, with the club emblem bolted to his heart.</p>
                            <h6 class=oswald16>previous club</h6>
                            <ul class=clearfix>
                                <li>SC Ochendo Academy</li>
                                <li>FC Forces Academy, Anambra</li>
                            </ul>

                    </li>

                    <li>
                        <div class=player02fig>
                            <div style=background:url(../../images/player/player03.jpg) class="imgplayer bgimg"></div>
                            <div class="playersocial bg-black clearfix">
                                <a href=# class=social_link>
                                    <i class="fa fa-facebook"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-linkedin"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-twitter"></i>
                                </a> <a href=# class=social_link>
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class=player02info>
                            <div class=clearfix>
                                <div class=player02info01>
                                    <h6><span>name</span>David Oluwaseun</h6>
                                    <h6>
                                        <span>position</span>striker
                                    </h6>
                                    <h6><span>age</span> (born 22 april,2001)</h6>
                                </div>
                                <div class=player02info02><img src=~images/player/playerT_shirt01.png alt=image></div>
                            </div>
                            <h6 class=oswald16>imformation</h6>

                            <p>
                                Pure product of the Destiny soccer Academy, David Oluwaseun took his first steps in soccer with AS Éragny (Val-d’Oise) academy, before joining the academy from the capital in 2005, at just ten years old. Playing in each of
                                the age groups on his way up to the Reserves, ‘Presko’ started his professional career during Laurent Blanc’s time in charge. France discovered his joviality over the summer of 2018, during which he was crowned World
                                Champion with Didier Deschamps’ Les Bleus. With Destiny soccer Academy, he has made his name in the centre of the defence, with the club emblem bolted to his heart.
                            </p>

                            <p> With Paris Saint-Germain, he has made his name in the centre of the defence, with the club emblem bolted to his heart.</p>
                            <h6 class=oswald16>previous club</h6>
                            <ul class=clearfix>
                                <li>SC Ochendo Academy</li>
                                <li>FC Forces Academy, Anambra</li>
                            </ul>

                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="sponsors bg-smallwhite">
        <div class=container>
            <div class=row>
                <h2 class=heading>spon<span>sors</span></h2>
                <ul class="client clearfix">
                    <!-- <li>
                        <a href="#"><img src=images/client/client01.png alt=image></a>
                    </li> -->
                    <!-- <li>
                        <a href="#"><img src=images/client/client02.png alt=image></a>
                    </li> -->
                    <li>
                        <a href="#"><img src=~/images/client/client03.png alt=image></a>
                    </li>
                    <!-- <li>
                        <a href="#"><img src=images/client/client04.png alt=image></a>
                    </li> -->
                    <!-- <li>
                        <a href="#"><img src=images/client/client02.png alt=image></a>
                    </li> -->
                    <!-- <li>
                        <a href="#"><img src=images/client/client05.png alt=image></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section>
</div>

<script src="~/Scripts/js/vendor/vendor.js"></script>
<script src="~/Scripts/js/main.js"></script>