@{
    ViewBag.Title = "Contact";
}

<div class="wrapper">

    <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbanner">
            <h2 class="bannerHeadline">contact <span>us</span></h2>
        </div>
    </div>
    <section class="innerpage_all_wrap">
        <div class="container">
            <div class="row">
                <h2 class="heading">get in <span>touch</span></h2>

                <p class="headParagraph">Contact us to get in touch with our course and training.</p>

                <div class="innerWrapper">
                    <ul class="contact_icon clearfix">
                        <li><a href=tel:+2348034352735><i class="fa fa-phone"></i> <span>+234 8034352735</span></a></li>
                        <li>
                            <a href=mailto:mail@yoursite.com>
                                <i class="fa fa-envelope-o"></i>
                                <span>info@destiny.com</span>
                            </a>
                        </li>
                        <li>
                            <a href=#><i class="fa fa-map-marker"></i> <span>Uwani, Enugu State, Nigeria</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="map_wrapper clearfix">
        <div id="map-section"></div>
        <div class="container">
            <div class="row">
                <div class="contact_form">
                    <h2 class="heading">contact us <span>by form</span></h2>

                    <p class="headParagraph">Get in touch today and register .</p>

                    <form data-parsley-validate="" name=contact class="formcontact clearfix">
                        <div class=form-group><input type=text class=form-control name= name placeholder=Name required="" data-parsley-required-message="please insert Name"></div>
                        <div class=form-group>
                            <input type=text class=form-control name=phone placeholder=Phone required="" data-parsley-required-message="please insert Phone No">
                        </div>
                        <div class=form-group>
                            <input type=text class=form-control name=subject placeholder=subject required="" data-parsley-required-message="please insert subject">
                        </div>
                        <div class=form-group>
                            <input type=email class=form-control name=email placeholder=Email required="" data-parsley-required-message="please insert Email">
                        </div>
                        <div class=form-group1>
                            <textarea class="form-control textas" name=comment placeholder=Message required="" data-parsley-minlength=20 data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.." data-parsley-validation-threshold=10
                                      data-parsley-maxlength=100></textarea>
                        </div>
                        <button type=submit class="btn btn-red" id=send>send Us</button>
                        <div class=form-message></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="~/js/vendor/vendor.js"></script>
<script src="~/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>