@{
    ViewBag.Title = "Home Page";
}


<div class="wrapper">
    <div class=banner id=layerSlider style="width: 100%;">
        <div class=ls-slide data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;">
            <img src=~/images/banner/background01.jpg class=ls-bg alt="Slide background">

            <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;" data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;"><img src=~/images/banner/player.png alt=innerimage class=img-responsive style="max-width: 100% !important ;"></div>
            <img src=~/images/banner/ball.png alt=innerimage class="ls-l layercontent02" style=z-index:5; data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
            <img src=~/images/banner/front_particles.png alt=particles class=ls-l style="z-index:3; left:0;" data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
            <img src=~/images/banner/back_particles.png alt=particles class=ls-l style="z-index:3; left:50%;" data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">

            <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">
                Destiny
            </h2>

            <h2 class="ls-l bannertext01 italic01 layercontent04" data-ls="offsetxin:left; scalexin:9; durationin: 4000;">Soccer</h2>
            <h4 class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;">
                Academy
            </h4>

            <!-- <h2 class="ls-l bannertext01 layercontent06" style="left: 87%; top:760px;" data-ls="offsetxin:left; flipxin:90 ; durationin: 5000;">21<sup>st</sup></h2>
            <h6 class="ls-l bannertext03 layercontent07" data-ls="offsetxin:left; flipxin:90 ; durationin: 6000;">
                july , 2015</h6> -->
        </div>
    </div>
    <div class=banner-text>
        <div class=container>
            <div class=row>Destiny Soccer<sup>Academy</sup> </div>
        </div>
    </div>
    <!-- <section class="booking bg-smallwhite">
        <div class=container>
            <div class=booking-fig>
                <h2>SCC football club</h2>
            </div>
            <div class=booking-content><a href=# class="btn btn-white">read more</a> <a href=bookTicket.html class="btn btn-red">book my
            ticket</a></div>
        </div>
    </section> -->
    <section class=about>
        <div class=container>
            <div class=row>
                <h2 class=heading>Destiny <span>Soccer Academy </span> way</h2>

                <div class=about-wrap>
                    <div class="tab-content nav-content">
                        <p role=tabpanel class="tab-pane fade" id=matches>
                            Matches are an essential part of sports. They give rise to competitive spirit and sportsmanship. Moreover, matches are a kind of get-together where players, apart from playing and displaying their physical stamina, exchange
                            ideas and information and have free and frank discussions among themselves. All our matches will stream online and uploaded on our yotube channel
                        </p>

                        <p role=tabpanel class="tab-pane active fade in" id=Tatics>
                            We have developed an adaptable playing style for all players, to take into account the range of experience and skill. Our playing formation is based on a 4 – 2 – 3 – 1 system of play (which is adaptable to include 4 – 3 – 3,
                            4 – 5 – 1 and 4 – 4 – 2). This system promotes confidence on the ball and in a team situation. We aim to rotate playing positions to make the experience as wide as possible, and to create adaptable players. Players may
                            be played in a number of positions during their time at IHM to facilitate fixtures and for the IHM coaches to assess their best playing positions. Our aim is to develop players in a supportive and safe environment, and
                            to encourage them to reach their full potential. We also want our students to enjoy their course with us, while working hard to continue their personal development.
                        </p>

                        <p role=tabpanel class="tab-pane fade" id=traning>
                            The following topics will be covered in team training sessions: Basic techniques – dribbling, running with the ball, passing and receiving, decision making, finding space, developing possession, individual work and combination
                            play, support play and turning Defending – with appropriate numbers and recovery Attacking – transition counter attack and attacking when outnumbered Finishing – shooting repetition, crossing & finishing, individual and
                            combined finishing, 1v1 finishing Team Shape & formation The following topics will be covered in personal training sessions: Strength, Speed and flexibility Aerobic endurance – Continuous & Interval Muscular endurance
                        </p>
                    </div>
                    <div class=nav-header id=aboutTab>
                        <ul class="nav nav-tabs clearfix" role=tablist>
                            <li><a href=#matches aria-controls=matches role=tab data-toggle=tab>Matches</a></li>
                            <li class=active>
                                <a href=#Tatics aria-controls=static role=tab data-toggle=tab>tatics</a>
                            </li>
                            <li><a href=#traning aria-controls=traning role=tab data-toggle=tab>training</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=latestResult>
        <div class=container>

        </div>
    </section>

</div>


<section class=latestvideo>
    <div class=container>
        <div class=row>
            <h2 class=heading>latest <span>video</span></h2>

            <p class=headParagraph>
            </p>

            <div class="video-wrap clearfix">
                <div class="video-content clearfix">
                    <!-- <a class=btn-up></a> -->
                    <ul class="videoLive clearfix" id=videoSlide role=tablist>
                        <!-- <li>
                                <a class=changeVideo data-yt-video=W7qWa52k-nE>
                                    <div><span>september 10, 2015</span> consectetur adipisicing elit : <span>Live audio and video</span>
                                    </div>
                                </a>
                            </li> -->
                        <li>
                            <a class=changeVideo data-yt-video=YtXNB-0cFBo>
                                <div>
                                    <span>March 1, 2020</span> Football Training : <span>Live audio and video</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class=changeVideo data-yt-video=W7qWa52k-nE>
                                <div>
                                    <span>september 10, 2020</span> Football Training : <span>Live audio and video</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class=changeVideo data-yt-video=yw3Cw5eG1wM>
                                <div>
                                    <span>November 19, 2020</span> Home Match against Enugu Warriors : <span>Live audio and video</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class=changeVideo data-yt-video=W7qWa52k-nE>
                                <div>
                                    <span>August 4, 2021</span> Football Training : <span>Live audio and video</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- <a class=btn-down></a> -->
                </div>
                <div class=video-show>
                    <div class=video-container id=video01 data-current-video=W7qWa52k-nE>
                        <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" class="liveVideo" allowfullscreen=""></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="booking bookticket">
    <div class=container>
        <div class=booking-fig>
            <h2>Destiny Soccer Academy</h2>
        </div>
        <div class=booking-content><a href='contact.html' class="btn btn-white">Register Today</a></div>
    </div>
</section>

<section class=club_history>
    <div class=container>
        <div class=row>
            <h2 class=heading>club <span>performance</span></h2>

            <!-- <p class=headParagraph>.</p> -->

            <div class="nav clubHistory-wrap clearfix">
                <!-- <ul class=historyMeter>
                        <li><a href=#><span>1987</span></a></li>
                        <li class=win><a href=#win01><span>1988</span></a></li>
                        <li><a href=#><span>1989</span></a></li>
                        <li><a href=#><span>1990</span></a></li>
                        <li class="win active"><a href=#win02><span>1991</span></a></li>
                        <li><a href=#><span>1991</span></a></li>
                        <li><a href=#><span>1995</span></a></li>
                        <li><a href=#><span>1997</span></a></li>
                        <li class=win><a href=#win03><span>2000</span></a></li>
                        <li><span>2005</span></li>
                        <li><span>2007</span></li>
                        <li><span>2009</span></li>
                        <li class=win><a href=#win04><span>2012</span></a></li>
                        <li><a href=#><span>2013</span></a></li>
                        <li><a href=#><span>2014</span></a></li>
                        <li class=win><a href=#win05><span>2015</span></a></li>
                    </ul> -->
                <div class="tab-content historyVideoWrap clearfix">
                    <div role=tabpanel class="tab-pane active clearfix" id=win02>
                        <div class=historyVideo>
                            <div class=historyvideoContainer>
                                <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class=historyContent>
                            <h4><span>Destiny Soccer Academy</span> A Peak of our Training Session</h4>

                            <p>
                                Destiny Soccer Academy is both international football academy, and also have high-performance programs that seek to promote the highest level of the students and prepare them for a professional future in football in Europe.
                                The Academy has brought the best players who are now playing for international clubs. Over the years, the academy has been a place of solace for youths to verge into professional career in football and it has gained
                                ground here in Enugu and nationwide and has gained both global andd international recogniton. View a peak of our training session and join us today
                            </p><a href=clubHistoryDetails.html class="btn-small btn-red">
                                Read
                                more
                            </a>
                        </div>
                    </div>
                    <!-- <div role=tabpanel class="tab-pane clearfix" id=win01>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/rPEd-h8DdRI allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>FC Bulgarians</span> A Peak of our Training Session</h4>

                                <p>love ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis
                                    recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit.</p>
                                <a href=clubHistoryDetails.html class="btn-small btn-red">Read more</a></div>
                        </div> -->
                    <!-- <div role=tabpanel class="tab-pane clearfix" id=win03>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/F6U5-B3NUKA allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>fifa 2000 ,</span> uefa champions league</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis
                                    recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit .</p>
                                <a href=clubHistoryDetails.html class="btn-small btn-red">Read more</a></div>
                        </div> -->
                    <!-- <div role=tabpanel class="tab-pane clearfix" id=win04>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/rPEd-h8DdRI allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>fifa 2012,</span> uefa champions league</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis
                                    recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit,</p>
                                <a href=clubHistoryDetails.html class="btn-small btn-red">Read more</a></div>
                        </div> -->
                    <!-- <div role=tabpanel class="tab-pane clearfix" id=win05>
                            <div class=historyVideo>
                                <div class=historyvideoContainer>
                                    <iframe src=https://www.youtube.com/embed/rPEd-h8DdRI allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class=historyContent>
                                <h4><span>fifa 2015 ,</span> uefa champions league</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur
                                    tempore harum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis
                                    recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos,
                                    blanditiis recusandae id iste.</p><a href=clubHistoryDetails.html class="btn-small btn-red">Read more</a>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="players homeplayer">
    <div class=container>
        <div class=row>
            <h2 class=heading>our <span>Players</span></h2>

            <p class=headParagraph>Meet the skillful and well trained players from the academy. Currently, there are more than 21 players</p>

            <div class="wrapplayer clearfix">
                <a class="prv prev-player"></a>
                <a class="nxt next-player"></a>
                <ul class="slideHeroes clearfix">
                    <li>
                        <a href="#">
                            <div class=playerFig>
                                <div class=playerpic>
                                    <div style="background: url(../../images/player/player01.jpg)" class=bgimg></div>
                                </div>
                                <ul class="playerDetails clearfix">
                                    <li>
                                        <span>Chijioke Emeka</span> <span>
                                            <img src=~/images/icons/tShirt.png
                                                 alt=image>
                                        </span>
                                    </li>
                                    <li class=playinfodetails>age 17 (born 22 april ,2004)</li>
                                    <li class=playerInfo>
                                        <span>goalkeeper</span> <span>
                                            <i class="fa fa-heart"></i>17
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class=playerFig>
                                <div class=playerpic>
                                    <div style=background:url(../../images/player/player02.jpg) class=bgimg></div>
                                </div>
                                <ul class="playerDetails clearfix">
                                    <li>
                                        <span>Terry Tijerina</span> <span>
                                            <img src=~/images/icons/tShirt.png
                                                 alt=image>
                                        </span>
                                    </li>
                                    <li class=playinfodetails>age 28 (born 22 april ,1987)</li>
                                    <li class=playerInfo>
                                        <span>DEFENDER</span> <span>
                                            <i class="fa fa-heart"></i>34
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class=playerFig>
                                <div class=playerpic>
                                    <div style=background:url(../../images/player/player03.jpg) class=bgimg></div>
                                </div>
                                <ul class="playerDetails clearfix">
                                    <li>
                                        <span>Alex Alameda</span> <span>
                                            <img src=~/images/icons/tShirt.png
                                                 alt=image>
                                        </span>
                                    </li>
                                    <li class=playinfodetails>age 28 (born 22 april ,1987)</li>
                                    <li class=playerInfo>
                                        <span>STRIKER</span> <span><i class="fa fa-heart"></i>45</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class=playerFig>
                                <div class=playerpic>
                                    <div style=background:url(../../images/player/player04.jpg) class=bgimg></div>
                                </div>
                                <ul class="playerDetails clearfix">
                                    <li>
                                        <span>Lane Lavalley</span> <span>
                                            <img src=~/images/icons/tShirt.png
                                                 alt=image>
                                        </span>
                                    </li>
                                    <li class=playinfodetails>age 28 (born 22 april ,1987)</li>
                                    <li class=playerInfo>
                                        <span>STRIKER</span> <span><i class="fa fa-heart"></i>45</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class=playerFig>
                                <div class=playerpic>
                                    <div style=background:url(../../images/player/player05.jpg) class=bgimg></div>
                                </div>
                                <ul class="playerDetails clearfix">
                                    <li>
                                        <span>Dominick Dumbleton</span> <span>
                                            <img src=~/images/icons/tShirt.png
                                                 alt=image>
                                        </span>
                                    </li>
                                    <li class=playinfodetails>age 28 (born 22 april ,1987)</li>
                                    <li class=playerInfo>
                                        <span>STRIKER</span> <span><i class="fa fa-heart"></i>78</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=gallery>
    <div class=container>
        <div class=row>
            <h2 class=heading>The Boost <span>gallery</span></h2>

            <p class=headParagraph>.</p>
        </div>
    </div>
    <div class=galleryWrapper>
        <div class=grid>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img3.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img1.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img3s.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img4s.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img5.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img6s.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img6.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/john.jpg alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Training Session</p>

                            <p class=red_p>Refresh the kicks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img2s.JPG alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Attackers on the run</p>

                            <p class=red_p>Attacking Training</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img4.JPG alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>Goalkeeper Training</p>

                            <p class=red_p>Magna aliqua</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=grid_item>
                <div class=gallery_dtl>
                    <img src=~/images/gallery/img5s.JPG alt=image>

                    <div class=gallery_info>
                        <div class=galleryinfo_wrap>
                            <p class=uppercase>consectetur</p>

                            <p class=red_p>Magna aliqua</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=gutter></div>
        </div>
    </div>
    @*<a href="" class="btn btn-red">View more</a>*@
    @Html.ActionLink("View more", "Index", "Photo", null, new { @class= "btn btn-red" })
</section>
<section class=social-media>
    <div class=container>
        <div class=row>
            <ul class=socialinfo>
                <li>
                    <a href="#">
                        <div class=sociallink><img src="~/images/gallery/john.jpg" style="width: 80px; height: 80px; border-radius: 50%; background-position: top center; background-size: cover; background-repeat: no-repeat;" alt=""></div>
                        <p>The club has become a home for me since i arrived. Well, in rating this academy i must tell is the best in this eastern part of Nigeria and they are working internationall with professional trainees.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class=sociallink><img src="~/images/boardMember/boardMember02.jpg" style="width: 80px; height: 80px; border-radius: 50%; background-position: top center; background-size: cover; background-repeat: no-repeat;" alt=""></div>
                        <p>For me the training and the academy has been an amazing one coupled with the coaches and the fun moments. I will always recommend this academy to anyone ho seeks for a proffessional football in the future.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class=sociallink><img src="~/images/boardMember/boardMember02.jpg" style="width: 100px; height: 100px; border-radius: 50%; background-position: top center; background-size: cover; background-repeat: no-repeat;" alt=""></div>
                        <p>
                            Coach Ezinna always encourage us to continue training and as a goalkeeper he inspired me to continue with the hand-gloves. I can tell that since i arrive at this academy i can tell you this me who has been dreaming to be a
                            goalkeeper
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- <section class=awards>
        <div class=container>
            <div class=row>
                <h2 class=heading>Tro<span>phies</span></h2>

                <p class=headParagraph>These are some of famous achievements so far and we are glad to share with you. Over the years, the academy has been a home for major ties of trophies</p>

                <div class="wrapper-container clearfix">
                    <a class="prv awards_prev"></a>
                    <a class="nxt awards_next"></a>
                    <ul class="awards-wrap clearfix">
                        <li>
                            <a href=achivement_details.html><img src=images/awards/awards01.png alt=image>
                                <ul class=awards-info>
                                    <li>EWGA '19</li>
                                    <li>champion</li>
                                </ul>
                            </a>
                        </li>
                        <li>
                            <a href=achivement_details.html><img src=images/awards/awards02.png alt=image>
                                <ul class=awards-info>
                                    <li>EGCA '14</li>
                                    <li>champion</li>
                                </ul>
                            </a>
                        </li>
                        <li>
                            <a href=achivement_details.html><img src=images/awards/awards03.png alt=image>
                                <ul class=awards-info>
                                    <li>NFFL '18</li>
                                    <li>champion</li>
                                </ul>
                            </a>
                        </li>
                        <li>
                            <a href=#><img src=images/awards/awards04.png alt=image>
                                <ul class=awards-info>
                                    <li>NCLF '21</li>
                                    <li>champion</li>
                                </ul>
                            </a>
                        </li>
                        <li>
                            <a href=achivement_details.html><img src=images/awards/awards02.png alt=image>
                                <ul class=awards-info>
                                    <li>uefa 2014</li>
                                    <li>champion</li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
<!-- <section class="product bg-white">
        <div class=container>
            <div class=row>
                <h2 class=heading>TOP PRODUCTS & <span>merchandise</span></h2>

                <p class=headParagraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis consequuntur animi, commodi, voluptatibus labore aperiam fugit maxime quos optio architecto cum? Laborum nesciunt doloribus expedita atque error rem molestias, ducimus.</p>
                <ul class=product_details>
                    <li>
                        <a href=#>
                            <div>
                                <div class=product-img style="background:url(images/product/product01.jpg) center no-repeat"></div>
                            </div>
                            <ul class="oswald16 product_info">
                                <li class=detailsContainer><span>soccer jersey</span> <span><i
                                class="fa fa-user"></i>360</span></li>
                                <li class=cartContainer><span>Add to cart</span> <span><i
                                class="fa fa-shopping-cart"></i></span> <span class=price>$199</span></li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href=#>
                            <div>
                                <div class=product-img style="background:url(images/product/product02.jpg) center no-repeat"></div>
                            </div>
                            <ul class="oswald16 product_info">
                                <li class=detailsContainer><span>soccer jersey</span> <span><i
                                class="fa fa-user"></i>360</span></li>
                                <li class=cartContainer><span>Add to cart</span> <span><i
                                class="fa fa-shopping-cart"></i></span> <span class=price>$199</span></li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href=#>
                            <div>
                                <div class=product-img style="background:url(images/product/product03.jpg) center no-repeat"></div>
                            </div>
                            <ul class="oswald16 product_info">
                                <li class=detailsContainer><span>soccer jersey</span> <span><i
                                class="fa fa-user"></i>360</span></li>
                                <li class=cartContainer><span>Add to cart</span> <span><i
                                class="fa fa-shopping-cart"></i></span> <span class=price>$199</span></li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href=#>
                            <div>
                                <div class=product-img style="background:url(images/product/product04.jpg) center no-repeat"></div>
                            </div>
                            <ul class="oswald16 product_info">
                                <li class=detailsContainer><span>soccer jersey</span> <span><i
                                class="fa fa-user"></i>360</span></li>
                                <li class=cartContainer><span>Add to cart</span> <span><i
                                class="fa fa-shopping-cart"></i></span> <span class=price>$199</span></li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <div class=center><a href=# class="btn btn-red">view more</a></div>
            </div>
        </div>
    </section> -->

<script src="~/Scripts/js/vendor/vendor.js"></script>
<script src="~/Scripts/js/main.js"></script>